p{
    margin: 50px;
    border: 5px  solid brown;
    outline-width: 10px;
    outline-style:solid;
    outline-color: burlywood;
    outline-offset: 5px;
    /*outline: 20px solid goldenrod; (we can write this in one line)*/

}