        .center{
            text-align: center;
            color:aqua;
        }
        *{                                 
            background-color: rgb(196, 160, 229);  <!--universal selector-->
        }
        h1,p1{
            background-color: red;    <!--Grouping-->
            color:aliceblue;
        }
        div1 p{
            color:blue;     <!--decending selector-->
        }

        div2 > p{
            color:aqua;     <!--child selector-->
        }

        div1 + p{
            color: blanchedalmond;     <!--adjacent sibling selector-->
        }
        
        div2 ~ p{
            color:crimson;     <!--general sibling selector-->
        }
    
    
