#div1{
    height: 200px;
    width: 200px;
    background: rgb(148, 65, 65);
    margin: 0 auto; /* center the div */
    margin-top: 200px;
    /*transform: scale(1.2); /* the div will be 1.2% bigger then previous form */
    transition: 3s;
}
#div1:hover{
    transform: scale(3) rotate(360deg); /* the div will be 2% bigger then previous form */
    /* we can use rotate, skew, translate etc in transform */

}