:root{
    --primary-color: green;
    --secondary-color: red;
}
div{
    height: 250px;
    width: 250px;
}
#div1{
    background-color: var(--primary-color);
    position: absolute;
    z-index: 1;
}
#div2{
    background-color: var(--secondary-color);
    position: absolute;
    left: 150px;
    top: 150px;
} 
@media screen and (max-width: 600px){
    :root{
        --primary-color: rgb(203, 159, 159);
        --secondary-color: rgb(93, 25, 25);
    }
}